{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
    <div class='col-md-6'>
        <div class="content1" style="  box-shadow: 0 1px 6px 2px #949393;
        padding: 15px;
        margin-top: 20px;
        background: #fff;
        ">


            <table style="zoom: 100%" border="1">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Groups</th>

                </tr>
                <tr>
                    <td>xx</td>
                    <td>xx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>xx</td>
                    <td>xx</td>
                    <td>xx</td>
                </tr>
                <tr>
                    <td>xx</td>
                    <td>xx</td>
                    <td>xx</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}